selenium
lxml
requests
mysql-connector-python
google-api-python-client
google_auth_oauthlib
google_auth
oauth2client
pyvirtualdisplay
sqlalchemy
pandas
pyOpenSSL
sendgrid
colorama
dnslib
tldextract
Pillow==7.1.1
faster-than-requests
python-dotenv
urllib3
dnspython
python-decouple==3.4